<html>
    <head>
        <title>{{ remote.label }}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>

    <body>

        <h1>{{ remote.label }}</h1>
        
        <a href="/remotes">Back</a>
        
        <h2>Buttons</h2>

        <ul>
            {% for button in buttons %}
                <li>
                    <button class="delete-button" data-remote-id="{{ remote.id }}" data-button-id="{{ button.id }}" > 
                        <img src="{{ url_for('static', filename='delete.jpg') }}" alt="submit">    
                    </button>

                    <button  class="command-button" data-remote-id="{{ remote.id }}" data-button-id="{{ button.id }}">
                        {{ button.label }}
                    </button>
    
                    <button class="rename-button" data-remote-id="{{ remote.id }}" data-button-id="{{ button.id }}" > 
                        <img src="{{ url_for('static', filename='edit.png') }}" alt="submit">
                    </button>

                    <form class="rename-button-form" data-remote-id="{{ remote.id }}" data-button-id="{{ button.id }}" hidden>
                        <input type="text" name="label" value="{{ button.label }}">
                
                        <button type="submit">
                            <img src="{{ url_for('static', filename='yes.png') }}" alt="submit">
                        </button>
                        
                        <button type="button" class="cancel-rename-button">
                            <img src="{{ url_for('static', filename='cancel.jpeg') }}" alt="cancel">
                        </button>
                        <p class="error-empty-button"></p>
                    </form>
                </li>
            {% endfor %}
        </ul>

        <form id="create-button" data-remote-id="{{ remote.id }}">
            <div>
                <label for="button-label">Button Name:</label>
                <input type="text" id="button-label" name="label">
            </div>
    
            <button type="submit">Add Button</button>
            <p id="error-empty-button"></p>
        </form>
    
        <script src="{{ url_for('static', filename='script.js') }}"></script>

    </body>
</html>